.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

th {
    width: 200px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1.0rem;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

td {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    color: rgba(0, 0, 0, 0.87);
}

td.row-buttons-section {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40px;
}

.param, .value {
    min-height: 20px;
    max-height: 70px;
    min-width: 100px;
    max-width: 200px;

}

.param[contenteditable="true"], .value[contenteditable="true"] {
    border: 0.1px solid grey;
    overflow: auto;
}

.go-btn, .add-param-btn {
    display: flex;
    align-items: center;
}

.go-btn p, .add-param-btn p {
    font-size: 18px;
    margin-right: 6px;
}